@import "settings";
@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
     "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
     "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
     "foundation/components/visibility";

//Body settings
body {
  padding: 0 !important;
  margin: 0 !important;

  width: 100%;
  height: auto;
  min-height: 100vh;

  overflow-x: hidden;
}

//Misc classes
.static-bg {
  background-color: #000;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.shadow-box {
  box-shadow: 0 0 20px $black;
}

.fancy-shadow {
  box-shadow: 0 0 40px rgba(1, 1, 1, 0.4);
}

.up {
  text-transform: uppercase;
}

//Block settings
section.blocky, header, footer {
  display: block;
  box-sizing: border-box;

  width: 100%;
  height: auto;
  min-height: 100vh;

  margin: 0;
  padding: 4.4em 1em;
  border: 0;

  overflow: hidden;
}

//Menu settings
.menu {
  //display: none !important;
  position: fixed;
  width: 100%;
  z-index: 1000;

  background-color: $white;

  @extend .fancy-shadow;

  .name {
    padding-top: 10px;
  }
  img {
    display: block;
    position: relative;

    width: auto;
    height: auto;
    height: 60px !important;

    margin: 0;
    margin-left: 10px;
    width: auto;
  }

  nav ul li h1{
    padding-left: 2em;
  }
}

//Header settings
.margin-bottom {
  @media #{$small-only} {
    margin-bottom: 100px;
  }
  @media #{$medium-only} {
    margin-bottom: 100px;
  }
}

header {
  background-attachment: fixed;

  //###CUSTOM#BACKGROUND###

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d94343+0,ff7c54+100 */
  background: #d94343; // Old browsers
  background: -moz-linear-gradient(45deg,  #d94343 0%, #ff7c54 100%); // FF3.6+
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#d94343), color-stop(100%,#ff7c54)); // Chrome,Safari4+
  background: -webkit-linear-gradient(45deg,  #d94343 0%,#ff7c54 100%); // Chrome10+,Safari5.1+
  background: -o-linear-gradient(45deg,  #d94343 0%,#ff7c54 100%); // Opera 11.10+
  background: -ms-linear-gradient(45deg,  #d94343 0%,#ff7c54 100%); // IE10+
  background: linear-gradient(45deg,  #d94343 0%,#ff7c54 100%); // W3C
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d94343', endColorstr='#ff7c54',GradientType=1 ); // IE6-9 fallback on horizontal gradient */

  //###

  z-index: 0;

  padding-bottom: 0 !important;

  h1, h2, h3, h4 {
    color: $white !important;
    font-weight: 300;
  }

  h1, h2 {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 0.9em;
  }
  h3 {
    margin-bottom: 0.8em;
  }

  .want-know {
    display: block;
    position: absolute;
    box-sizing: border-box;

    bottom: 30px;
    height: auto;

    //border-radius: 100px;
    //@extend .fancy-shadow;

    @media #{$small-only} {
      width: 50%;
      left: 25%;
    }
    @media #{$medium-only} {
      width: 20%;
      left: 40%;
    }
    @media #{$large-up} {
      width: 10%;
      left: 45%;
    }
  }
}

ul.points {
  list-style:none;
}

$icon-size: 35px;

.icn {
  line-height: $icon-size !important;
  padding-left: 1rem;
  margin-top: 1.6em;
}

.icn::before{
  content: inherit;

  position: relative;
  float: left;
  width: $icon-size;
  height: $icon-size;
  background-color: transparent;
  margin: 0px;
  margin-right: 1rem;
}

.icn-ruble::before {
  content: url("../images/icn-ruble.png");
}
.icn-www::before {
  content: url("../images/icn-www.png");
}
.icn-percent::before {
  content: url("../images/icn-percent.png");
}

.slider {
  display: block;
  box-sizing: border-box;
  height: auto;

  background-color: transparent !important;
}


//###CONTENT###
.content {
  z-index: 500;

  @extend .fancy-shadow;

  h1, h2, h3, h4 {
    color: $primary-color;
    font-weight: 300;
  }

  @extend .shadow-box;
}

//###FOOTER###
footer {
  @extend .static-bg;
  text-align: center;

  z-index: 0 !important;
  background-image: url("../images/arctic.jpg");

  //min-height: auto !important;
  //height: auto !important;

  padding-top: 4em;
  padding-bottom: 2.5em;

  h1, h2, h3, h4 {
    color: $white !important;
    font-weight: 400;
  }

  h1 {
    display: block;
    width: 100%;
    height: auto;

    margin-top: 40vh;
  }

  @media #{$medium-only} {
    h1 {
      line-height: 60px !important;
    }
  }
  @media #{$large-up} {
    h1 {
      line-height: 80px !important;
    }
  }

  img {
    max-width: 320px;
  }
}
