doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    title CASH 4 HASH
    
    link(rel="stylesheet" href="stylesheets/app.css")
    
    //ANIMATE WOW
    link(rel = 'stylesheet' type = 'text/css' href = 'stylesheets/animate.css')
    
    //MODERNIZR
    script(src = "bower_components/modernizr/modernizr.js")
    script(src="bower_components/modernizr/modernizr.js")
    
    //Google Font "Roboto", cyrillic
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic' rel='stylesheet' type='text/css')
    
    //WOW
    script( src = "js/wow.min.js")
    script new WOW().init()
    
  body
    //MENU
    .menu
      nav.top-bar(data-topbar role="navigation")
        ul.title-area
          li.name
            a.pagescroll(href = "#top")
              //MENU TITLE
              //h1.up Я хочу
              img(src = "images/logo_2.png")
          li.toggle-topbar.menu-icon
            //MENU TOGGLE BUTTON
            a(href = "")
              span Меню
        section.top-bar-section
          //MENU ITEMS
          ul.right
            li
              a.pagescroll(href = "#content") В чем наша задача
            li
              a.pagescroll(href = "#footer") Как это работает
            li
              a(href = "#") Подключить
              
    header#top
      .fullWidth
        .small-12.columns.text-center
          h1 На словах ты Лев Толстой...
          h2 Пожалуй лучший спооб увеличить продажи
        .small-12.medium-6.columns.margin-bottom
          ul.points
            li
              h3.icn.icn-ruble Бесплатное подключение
            li
              h3.icn.icn-www Выдача займов онлайн
            li
              h3.icn.icn-percent Без комисии
        .small-12.medium-6.columns.margin-bottom
          .slider.slideshow-wrapper
            .preloader
            ul.example-orbit(data-orbit)
              li
                img(src="images/Slide1_2.png" alt="")
              li
                img(src="images/Slide2_1.png" alt="")
              li
                img(src="images/Slide3_1.png" alt="")
        .small-12.columns
          .want-know
            a.pagescroll(href = "#content")
              img(src = "images/arrow.png")
    section.blocky.content#content
      .fullWidth
        .small-12.columns
          h2.text-center.up Мы поможем Вашим клиентам найти деньги на покупки,<br> предоставив займ на конкретный товар
                
    footer#footer
      .fullWidth
        .small-12.columns
          h1.text-center.up За это мы ничего с вас не возьмем. Вообще.
        //.large-4.medium-4.small-12.columns.wow.fadeInLeft
          //img(src = "images/p1.png")
          //h2.wow.fadeInUp Безопасно
          //h3.text-center.wow.fadeInUp Все транзакции надежно защищены и секретны.
        //.large-4.medium-4.small-12.columns.wow.fadeInDown
          //img(src = "images/p2.png")
          //h2.wow.fadeInUp Выгодно
          //h3.text-center.wow.fadeInUp Мы берем не более 1,5% в день.
        //.large-4.medium-4.small-12.columns.wow.fadeInRight
          //img(src = "images/p3.png")
          //h2.wow.fadeInUp Быстро
          //h3.text-center.wow.fadeInUp На оформление займа Вы потратите всего лишь 20 минут.
      
      
    //SCRIPTS
    //JQUERY
    script(src = "bower_components/jquery/dist/jquery.min.js")
              
    //JQUERY EASING
    script( src = "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
              
    //FOUNDATION
    script(src = "js/foundation.js")
            
    //SMOOTHSCROLL
    script(src = "js/smoothscroll.js")
    
    //Orbit
    script(src = "bower_components/foundation/js/foundation.orbit.js")
    
    //APP
    script(src = "js/app.js")
